<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How Multi-Card KPI fits your need</h2>
                <hr class="light">
                <p class="text-faded">
                    You need only one visual to display row or column based modern design cards. It provides also the comparison measures for each card individually.
                    No need to match the style of each card separately because we provide one click feature to redesign all cards.
                </p>
                <a href="https://gumroad.com/l/multicard" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
