<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How our Add-on fits your need</h2>
                <hr class="light">
                <p class="text-faded">
                    Our add-ons are developed to help Google Sheets, docs, and drive users, who are looking to streamline their processes and trying to avoid manual work.
                </p>
                <a href="https://redrawit.gumroad.com" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
