<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How Case Master Add-on fits your need</h2>
                <hr class="light">
                <p class="text-faded">
                    Case Master is an Add-on, developed to help Google Sheets users, who want to make changes to the CASE of text in your sheets.
                    It allows you to change the case of text into multiple different formats e.g. UPPERCASE, lowercase, Title Case, etc.
                </p>
                <a href="https://redrawit.gumroad.com/l/casemaster" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div
</section>
