<section>
    <div class="container">
        <h2>Tips</h2>
        <span>Last updated: May 13, 2022</span>
        <p>
            <p>This Google Sheets Add-on helps you to change the case of any text into many possible options. The following tips will help you to get the maximum out of the Add-on.</p>
            <ul style="font-size: 16px;">
                <li>After installing the Add-on, it will show up under the Extensions menu of Google Sheets</li>
                <li>Search for<b> Case Master</b>  under this menu</li>
                <li>If you mouse over the<b> Case Master</b>, it will display all possible case change options divided into three different sections</li>
                <li>Users can select cells via keyboard or mouse click</li>
                <li>At the bottom section, users can click on Activate or Get License to get the premium version to get full access to Add-on</li>
                <li>If you want to use the free version, you can always change the case of  100 rows and 1 column at once</li>
                <li>The paid version allows you to change the CASE of unlimited cells</li>
            </ul>
            
            <h3>Contact Us</h3>

            <p>
                We take our customer's privacy very seriously. If you have any questions regarding our privacy policy then please don't hesitate to email us at
                <a href="mailto:hello@bivisuals.com" style="color: rgb(99, 99, 197);">hello@bivisuals.com</a>.
            </p>
        </p>
    </div>
</section>
