<footer>
    <div class="container" style="margin-bottom: 300p;"> 
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <!-- <a href="#"><img src="../img/portfolio/logo_transparent.png"
                        alt="bv-white-logo" style="height:32px;"></a> -->
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">&copy; 2022 Redraw-It All Rights Reserved</li>
                    <li class=""><a href="/privacy-policy">Privacy Policy</a></li>
                    <li class=""><a href="/terms-condition">Terms and condition</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
