<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <div class="row">
                <div class="col-lg-6" id="bdg">
                    <img src="../img/header.svg" class="img-responsive" alt=""> 
                </div>
                <div class="col-lg-6">
                    <h2> Case Master Add-on for Google Sheets</h2>
                    <hr>
                    <p>Case Master helps you reduce manual work and saves your precious time.</p>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</header>
