<section>
    <div class="container">
        <h2>Privacy policy</h2>
        <span>Last updated: January 01, 2022</span>
        <br > <br>
        <p>
            This privacy policy is for Google Sheets Add-on named as "Case Master". Case Master Add-on does not collect any personal information, other than what is required to verify the user license which is mainly email address. We use Gumroad to handle all the payments which keeps only user essential information that they provide for the payment.
            Upon termination of the subscription with us, we will automatically delete any user data; moreover, the subscriber has the right to request deletion and confirmation of such action.
        </p>
        <h3>Collection for information</h3>
        <p>
            This Add-on does not collect or use any of your personal information except payment information provided by paid users.
        </p>

        <h3>Payment information</h3>
        <p>
            We use <a href="https://gumroad.com" target="_blank">Gumroad</a> for the payment collection for our products. The user personal information as well as payment data is securely stored with respect to <a href="https://help.gumroad.com/article/120-protecting-your-privacy-on-gumroad" target="_blanl">Gumroad privacy policy.</a>
            We do not store or share any user data to any other third party application.
        </p>

        <h3>Contact Us</h3>
        <p>
            We take our customer's privacy very seriously. If you have any questions regarding our privacy policy then please don't hesitate to <a href="mailto:redraww.it@gmail.com">Email Us</a>.
        </p>
    </div>
</section>
