<section>
    <div class="container">
        <h1>Privacy policy</h1>
        <span>Last updated: May 13, 2022</span>
        <br > <br>
        <p>
            This privacy policy is for Google Sheets Add-on named as "Case Master" and "Save to Docs". Our Add-ons do not collect any personal information, other than what is required to verify the user license which is mainly email address.
            We use Gumroad to handle all the payments which keeps only user essential information that they provide for the payment.
            Upon termination of the subscription with us, we will automatically delete any user data; moreover,
            the subscriber has the right to request deletion and confirmation of such action.
        </p>
        <h2>How we collect and use your data</h2>
        <p>
            Our Add-ons <b>DO NOT COLLECT</b> or <b>USE</b> any of your personal information except payment information provided by paid users.
            <h3>Case Master:</h3>
            <p>
                When user select whole sheet or some parts of sheet then we just retrieve the data in add-on to perform user selected action such as UPPERCASE, lowercase ect
                which user choosed. After user operation is completed then this data is released from the momory and we don't store that data anywhere.
            </p>
            <h3>Save to Docs:</h3>
            <p>
                When user select whole sheet or some parts of sheet to save to docs then then we just retrieve the data in add-on to perform user
                selected action such as saving it to user specfied doc.
                if user selects to replace the existing doc with same name, then we just check if file already exists then just replace it otherwise
                don't perform any other action. Aceessing doc would require permissions for Google drive but we just use it only for that purpose and nothing else.
                After user operation is completed then user selected data is released from the momory and we don't store that data anywhere.
            </p>
        </p>

        <h2>Payment information</h2>
        <p>
            We use <a href="https://gumroad.com" target="_blank">Gumroad</a> for the payment collection for our products. The user personal information as well as payment data is securely stored with respect to <a href="https://help.gumroad.com/article/120-protecting-your-privacy-on-gumroad" target="_blanl">Gumroad privacy policy.</a>
            We do not store or share any user data to any other third party application.
        </p>

        <h2>Contact Us</h2>
        <p>
            We take our customer's privacy very seriously. If you have any questions regarding our privacy policy then please don't hesitate to email us at
            <a href="mailto:redraww.it@gmail.com" style="color: rgb(99, 99, 197);">redraww.it@gmail.com</a>.
        </p>
    </div>
</section>
