<section>
    <div class="container">
        <h2>Privacy policy</h2>
        <span>Last updated: December 4, 2020</span>
        <br > <br>
        <p>
            This privacy policy is for our power BI custom visuals (Multi Card KPIsby BIVisuals and all upcoming visuals from as well). 
            This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our viusal Multi-Card KPIs, 
            including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, <a href="https://bivisuals.com">BIVisuals</a>). 
            Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the visual.

            <p>We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.</p>

            <p>You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.</p>
        </p>
        <h3>Collection for information</h3>
        <p>
            This Power BI custom visual does not collect or use any of your personal information except payment information provided by paid users. 
            The visuals only receive data from Power BI and do local computations and rendering in the client browser.
        </p>

        <h3>Payment information</h3>
        <p>
            We use <a href="https://gumroad.com" target="_blank">Gumroad</a> for the payment collection for our products. The user personal information as well as payment data is securely stored with respect to <a href="https://help.gumroad.com/article/120-protecting-your-privacy-on-gumroad" target="_blanl">Gumroad privacy policy.</a>
            We do not store or share any user data to any other third party application.
        </p>

        <h3>Contact Us</h3>
        <p>
            We take our customer's privacy very seriously. If you have any questions regarding our privacy policy then please don't hesitate to <a href="mailto:hello@bivisuals.com">Email Us</a>.
        </p>
    </div>
</section>
