<section>
    <div class="container">
        <h2>Tips</h2>
        <span>Last updated: May 13, 2022</span>
        <p>
            <p>Save to Docs is a Google Workspace Add-on, which helps users to save their sheets data to docs. It also provides extensive customisation options before saving the data so you don't need to apply styles individually on docs.</p>
            <ul style="font-size: 16px;">
                <li>After installing the Add-on, it will show up under the Extensions menu of Google Sheets</li>
                <li>Search for<b> Save to Docs</b>  under this menu</li>
                <li>Select whole sheet to save with one click</li>
                <li>Choose any name for your new generated doc</li>
                <li>Choose first row of sheet or top row of selected data as your heading</li>
                <li>Multiple separation options between heading and its value e.g. (colon, dash, coma, dot, new line or any custom value you can edit)</li>
                <li>Option to replace the already existing doc with same name, which helps to remove duplication</li>
                <li>You can create unlimited customised docs from your sheet</li>
                <li>
                    Custom Styling options for heading or its value, it includes following options
                    <ul>
                        <li>Over 100 fonts</li>
                        <li>Custom size for your text</li>
                        <li>Colour pallet for unlimited colouring options</li>
                        <li>Make the text bold, Italic, underlined, and strikethrough right from add-on, which helps you to not do all the manual work inside the doc again, change newly created doc with just one click</li>
                    </ul>
                </li>
                
            </ul>

            <h3>Contact Us</h3>

            <p>
                We take our customer's privacy very seriously. If you have any questions regarding our privacy policy then please don't hesitate to email us at
                <a href="mailto:hello@bivisuals.com" style="color: rgb(99, 99, 197);">hello@bivisuals.com</a>.
            </p>
        </p>
    </div>
</section>
