<section>
    <div class="container">
        <h2>Terms and Conditions ("Terms")</h2>
        <span>Last updated: May 13, 2022</span>
        <br > <br>
        <p>
            <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Google Add-on "Case Master" and "Save to Docs" operated by Redraw-It.</p>

            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service.</p>

            <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

            <h3>Subscriptions</h3>

            <p>If you wish to purchase the subscription for the service made available through the Service ("Subscription"), you may be asked to supply certain information relevant to your Purchase including, your personal details which are required to make the payment transaction.</p>

            <h3>Links To Other Web Sites</h3>

            <p>
                Our Service may contain links to third-party such as Gumroad a payment provider or services that are not owned or controlled by Redraw-It.
                Redraw-It has no control over and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites or services. You further acknowledge and agree that Redraw-It shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content or services available on or through any such web sites or services.
            </p>

            <h3>Changes</h3>

            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 (change this) days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

            <h3>Contact Us</h3>

            <p>
                We take our customer's privacy very seriously. If you have any questions regarding our privacy policy then please don't hesitate to email us at
                <a href="mailto:redraww.it@gmail.com" style="color: rgb(99, 99, 197);">redraww.it@gmail.com</a>.
            </p>
        </p>
    </div>
</section>
